<a href="https://colab.research.google.com/github/jtthachil/pythonbasics/blob/main/Core_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python is Not a Snake!
*20th September 2021 @ Plaksha TLF*

The original version of these notes was written by Rajath Kumar: https://github.com/rajathkumarmp/Python-Lectures.
**This version is circulated to TLF'22; intended to be used as a syntax cheatsheet.** Please refer accompanying email.

## Introduction

**Dislcaimer:** These notebooks would only contain code portions and explanations might not be suffice to understand underlying concepts behind them as they were left for live discussion in the workshop.

To give an indication of what Python code looks like, here is a simple bit of code that defines a set $N=\{1,3,4,5,7\}$ and calculates the *sum of the squared elements of this set*.

In [ ]:
N = {1, 2, 4, 5, 7}
print('The sum of ∑_i∈N i*i =', sum(i**2 for i in N))

The sum of ∑_i∈N i*i = 95

## Getting started

Python can be used like a calculator. Simply type in expressions to get them evaluated!

### Basic Syntax for Statements
The basic rules for writing simple statments and expressions in Python are:
- No spaces or tab characters allowed at the start of a statement: Indentation plays a special role in Python.
- The '#' character indicates that the rest of the line is a comment.
- Statements finish at the end of the line.

```python
1+2
+3  #illegal continuation of the sum

(1+2
         + 3) #perfectly OK even with spaces
```
- A single backslash at the end of the line can also be used to indicate that a statement is still incomplete  

```python
1 + \
2 + 3 #this is also OK
```

In [ ]:
1 + 2 \
+ 2 \
+ 9

14

Python has extensive help built in. You can execute **`help()`** for an overview or **`help(x)`** for any library, object or type **`x`** to get more information.

In [ ]:
a =2
print ("Hello World!", a)

Hello World! 2

## Variables & Values

In [ ]:
x = 2
y = 3
xy = "String"
print(x, y, xy)

2 3 String

In [ ]:
# DataTypes in Python
2.0           # A simple floating point number
1e100         # A googol
-1234567890   # An integer
True or False # The two possible boolean values

'This is a string'
"It's another string"

print("""Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively \n is a newline character (\t for tab, \\ is a single backslash)""")

Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively
 is a newline character (	 for tab, \ is a single backslash)

In [ ]:
# Complex Numbers
complex(1,2)
(1+2j)

(1+2j)

In [ ]:
# Type of Object
print(type(a))
print(type(xy))

<class 'int'>
<class 'str'>

In [ ]:
def sum_pranav (a, b, c):
    """This is a function to add two numbers.
    Input: a, b --> two numbers
    Output: Sum"""
    return (a+b)

In [ ]:
help(sum_pranav)

Help on function sum_pranav in module __main__:

sum_pranav(a, b)
    This is a function to add two numbers.
    Input: a, b --> two numbers
    Output: Sum

## Operators

### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | Division |
| %  | Mod |
| *  | Multiplication |
| // | Floor Division |
| ** | To the power of |

- The expressions follow BODMAS
- (Nearly) infinite length integers available
- Double precision floating point numbers

Float Point Error

In [ ]:
99**300

49040894071285855907267629419665531560409085391180248883921073573306048939227974547115509665384086736500599668199981778188931055596735292182136217471426489520494125357372319909368974274669601243767211060505337895113870635615769109291155549880976347074904878440690342614010138987446741353620751068747707415863644340623434378919367761822813871609346916133592074704352486404702230757544853398631335935809851253145165608597892489539258274169458339670731225266897071034919031916788165783359888004889067286753117473861218906534549225681685509175753149314655967521172034675666199679568333661399062848470001

### Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | Less Than |
| > | Greater Than |
| <=  | Less Than or Equal To |
| >=  | Greater Than or Equal To |

Comparisons can also be chained in the mathematically obvious way.

```python
-3 * 4
z = 2
if(0.5 < z <= 1):
# Returns False
```

### Boolean and Bitwise Operators

|Operator|Meaning | | Symbol | Task Performed |
|----|--- | |----|---|
|`and`| Logical and | | &  | Bitwise And |
|`or` | Logical or | | $\mid$  | Bitwise OR |
| | | |  ^  | Exclusive or |
|`not` | Not | | ~  | Negate |
| | | |  >>  | Right shift |
| | | |  <<  | Left shift |

In [ ]:
a = 2 # Binary: 10
b = 3 # Binary: 11

Pranav = True
Wants_to_go_home = False
hungry = True

print('a & b =', a & b, "=", bin(a&b))
print('a | b =', a | b, "=", bin(a|b))
print('a ^ b =', a ^ b, "=", bin(a^b))

if not(Pranav is hungry and Wants_to_go_home):
    print(not(True and False), "==", not True or not False)

a & b = 2 = 0b10
a | b = 3 = 0b11
a ^ b = 1 = 0b1
True == True

### Built-in Functions

Python comes with a wide range of functions. However many of these are part of stanard libraries like the `math` library rather than built-in.

#### Converting Values

Conversion from hexadecimal to decimal is done by adding prefix **`0x`** to the hexadecimal value or vice versa by using built in **`hex()`**.

In [ ]:
print(hex(170))
print(0xAA)

0xaa
170

**`int()`** converts a number to an integer. This can be a single floating point number, integer or a string. For strings, the base can optionally be specified. Similarly, the function **`str()`** can be used to convert almost anything to a string.

In [ ]:
print(int(7.7), int('111', 2), int('7'))
print(str(True), str(1.2345678), str(-2))

7 7 7
True 1.2345678 -2

#### Mathematical Functions

Mathematical functions include the usual suspects like logarithms, trigonometric fuctions, the constant $\pi$ and so on.

Full Documentation: https://docs.python.org/3/library/math.html

In [ ]:
import math
print(math.sin(math.pi/2))

from math import *
print(sin(pi/2))

1.0
1.0

In [ ]:
# Rounding Off
print(round(5.6231))
print(round(5.25, 1))

# Complex No. & Absolute Value
c = complex('5+2j')
#print(abs(c))

# Quotient and Remainder
#print(divmod(9,2))

6
5.2

## Accepting User Inputs

**`input(prompt)`**,  prompts for and returns input as a string. A useful function to use in conjunction with this is **`eval()`** which takes a string and evaluates it as a python expression.

In [ ]:
abc =  input("Number = ")
result = abc + abc
print(abc, '=', result)

Number = a
a = aa

In [ ]:
x = input("Enter a No")

Enter a No5

In [ ]:
type(x)

str

In [ ]:
int(x) * 3

15

## Working with Strings

### The Print Statement
As seen previously, The **print()** function prints all of its arguments as strings, separated by spaces and follows by a linebreak:

    - print("Hello World")
    - print("Hello",'World')
    - print("Hello", <Variable Containing the String>)

Note that **print** is different in old versions of Python (2.7) where it was a statement and did not need parenthesis around its arguments.

In [ ]:
print("Hello", "World")
print("Hello", "World", Pranav_Suri.txt

Hello World
Hello World

### Pretty Printing

In [ ]:
# String Concatenation
string1='World'
string2='!'
print('Hello' + string1 + string2)

HelloWorld!

The **%** operator is used to format a string inserting the value that comes after. It relies on the string containing a format specifier that identifies where to insert the value. The most common types of format specifiers are:
    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential

In [ ]:
print("Hello %s" % string1)
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)
print("Octal equivalent of the number = %o" %18)
print("Hexadecimal equivalent of the number = %x" %18)
print("Exponential equivalent of the number = %e" %18)

Hello 18
Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

In [ ]:
string1 = 18
print("Hello %d" % string1)

Hello 18

When referring to multiple variables parenthesis is used. Values are inserted in the order they appear in the paranthesis.

In [ ]:
print("Hello %s {}. This meaning of life is %d" %(string1, string2, 42))

Hello World !. This meaning of life is 42

In [ ]:
# Pretty Printing
print('Print width 10: |%10s|'%'x')
print('Print width 10: |%-10s|'%'x')
print("The number pi = %.2f to 2 decimal places"%3.1415)
print("More space pi = %10.2f"%3.1415)
print("Pad pi with 0 = %010.2f"%3.1415)

Print width 10: |         x|
Print width 10: |x         |
The number pi = 3.14 to 2 decimal places
More space pi =       3.14
Pad pi with 0 = 0000003.14

### String Methods

In [ ]:
# Repetitive printing
print("Hello World! "*5)

# String Transformations
s="hello wOrld"
print(s.capitalize())
print(s.capitalize())
print(s.upper())
print(s.lower())
print('%s' % "Hello World".center(30))
print('%s'% "     lots of space             ".strip())
print("Hello World".replace("World", "Class"))

Hello World! Hello World! Hello World! Hello World! Hello World!
Hello world
Hello world
HELLO WORLD
hello world
         Hello World
lots of space
Hello Class

### String Slicing
Accessing parts of strings.

In [ ]:
s = '123456789'

# String Index
print('First charcter of', s, 'is', s[0])
print('Last charcter of', s, 'is', s[len(s)-1], "\n")

# Negative Indices
print('First charcter of', s,'is', s[-len(s)])
print('Last charcter of', s,'is', s[-1], "\n")

# String Slicing
print("First three charcters:", s[0:3])
print("Next three characters:", s[3:6])

print("First three characters:", s[:3])
print("Last three characters:", s[-3:])

First charcter of 123456789 is 1
Last charcter of 123456789 is 9

First charcter of 123456789 is 1
Last charcter of 123456789 is 9

First three charcters: 123
Next three characters: 456
First three characters: 123
Last three characters: 789

In [ ]:
s = '123456789'

In [ ]:
string = "Hello World!"
a = string[:]

'Hello World!'

### Strings are Immutatble

It is important to note that strings are constant, immutable values in Python. While new strings can easily be created it is not possible to modify an existing string.

In [ ]:
s = '012345'

sX = s[:2] + 'X' + s[3:]
print("Creating new string", sX, "OK")

sX = s.replace('2','X')
print(sX, "Still OK")

Creating new string 01X345 OK
01X345 Still OK

In [ ]:
name = "PranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranav"
counter = name.count('a')
name.replace('a', 'XX', int(counter/2))

'PrXXnXXvPrXXnXXvPrXXnXXvPrXXnXXvPrXXnXXvPrXXnXXvPrXXnXXvPrXXnXXvPrXXnXXvPrXXnXXvPrXXnXXvPranavPranavPranavPranavPranavPranavPranavPranavPranavPranavPranav'

In [ ]:
print(13/2)
print(13//2)

6.5
6

In [ ]:
print('PrXXnav')

PrXXnav

In [ ]:
s[2] = 'X'

TypeError: 'str' object does not support item assignment

## Data Structures

A collection or group of data in a particular structure.

### Lists

A sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [ ]:
a = []
type(a)

list

In [ ]:
x = [['apple', 'orange', 1, 2], ['carrot', 'potato', 1.0]]

# Indexing
print(x[0])
print(x[-1])

# Nested lists
y = ['carrot', 'potato', 1.0]
z = [x, y]
print(z)
print(z[0][1])

# Slicing
print("\nSlicing")
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])
print(num[4:])
print(num[0:9+1:3])

apple
2
[['apple', 'orange', 1, 2], ['carrot', 'potato', 1.0]]
orange

Slicing
[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]
[0, 3, 6, 9]

In [ ]:
# List Functions
print(len(num))
print("min =" , min(num),
      "max =", max(num),
      "total =", sum(num))

# Concatenation
list1 = [1,2,3] + [5,4,7]
print(list1)

10
min = 0 max = 9 total = 45
[1, 2, 3, 5, 4, 7]

In [ ]:
# IN – There or not?
names = ['Earth','Air','Fire','Water', 'Space']
print('fire' in names)
print('Space' in names)

False
True

A string can be converted into a list by using the **`list()`** function, or more usefully using the **`split()`** method, which breaks strings up based on spaces.

In [ ]:
print(list('hello world !'),
      'Helo   World !!'.split('l'))
""
" "

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '!'] ['He', 'o   Wor', 'd !!']

' '

In [ ]:
# Appending a value
lst = [1, 1, 4, 8, 7]
lst.append([1, 2])
print(lst)

# Adding multiple elements
lst.extend([10, 11, 12])
print(lst)

# Adding element at a specific location
lst.insert(5, 'name')
print(lst)

lst[5] = 'Python' #overwrites value
print(lst)

# Last element of the list
lst.pop()
lst.remove('Python')
print(lst)

# Deleting an element
del lst[1]
print(lst)

[1, 1, 4, 8, 7, [1, 2]]
[1, 1, 4, 8, 7, [1, 2], 10, 11, 12]
[1, 1, 4, 8, 7, 'name', [1, 2], 10, 11, 12]
[1, 1, 4, 8, 7, 'Python', [1, 2], 10, 11, 12]
[1, 1, 4, 8, 7, [1, 2], 10, 11]
[1, 4, 8, 7, [1, 2], 10, 11]

#### Sorting Elements in a List

Python offers built in operation `sort( )` to arrange the elements in ascending order. Alternatively, `sorted()` can be used to construct a copy of the list in sorted order.

In [ ]:
# Reversing the List
lst.reverse()
print(lst)

# Sorting the list
lst.sort()
print(lst)
print(sorted([3,2,1]))

# Reverse sorting
lst.sort(reverse=True)
print(lst)

# Sorting Strings
names.sort()
print(names)

names.sort(reverse=True)
print(names)

[11, 10, 1, 7, 8, 4, 1]
[1, 1, 4, 7, 8, 10, 11]
[1, 2, 3]
[11, 10, 8, 7, 4, 1, 1]
['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

#### Copying a List
Assignment of a list does not imply copying. It simply creates a second reference to the same list. Most of new python programmers get caught out by this initially. Consider the following.

In [ ]:
lista= [2,7,4,3, 4, 5, 6]
listb = lista
print(listb)

[2, 7, 4, 3, 4, 5, 6]

In [ ]:
lista.sort()
lista.pop()
lista.append(9)

print("A =", lista)
print("B =", listb)

A = [2, 3, 4, 4, 5, 6, 9]
B = [2, 3, 4, 4, 5, 6, 9]

`listb` has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that `parentlist[a:b]` returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [ ]:
lista = [2,1,4,3]
listb = lista[:] #Make a copy of list

print("Starting with:")
print("A =", lista)
print("B =", listb, "\n")

lista.sort()
lista.pop()
lista.append(9)

print("Finnished with:")
print("A =", lista)
print("B =", listb)

Starting with:
A = [2, 1, 4, 3]
B = [2, 1, 4, 3]

Finnished with:
A = [1, 2, 3, 9]
B = [2, 1, 4, 3]

### Tuples
Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall `divmod()` function.

In [ ]:
xyz = divmod(-25, 4)
print(xyz)
print(type(xyz))

(-7, 3)
<class 'tuple'>

In [ ]:
xyz[0]

3

In [ ]:
# Initializing a tuple
tup = ()
tup2 = tuple()

#### Mapping One Tuple to Another

In [ ]:
(a, b, c) = ('alpha','beta','gamma')
a, b, c = 'alpha','beta','gamma'
print(a, b, c)

a, b, c = ['Alpha','Beta','Gamma']
print(a, b, c)

[a, b, c] = ('this','is','ok')
print(a, b, c)

# Complex Examples
(w, (x,y), z)=(1, (2,3), 4)
print(w, x, y, z)

(w, xy, z)=(1, (2,3), 4)
print(w, xy, z)

alpha beta gamma
Alpha Beta Gamma
this is ok
1 2 3 4
1 (2, 3) 4

### Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as `set()` which will initialize a empty set. Also `set([sequence])` can be executed to declare a set with elements.

In [ ]:
set1 = set()
print(type(set1))

# Declaring a set
set0 = set([1,2,2,3,3,4])
print(set0)

<class 'set'>
{1, 2, 3, 4}

In [ ]:
a = {}
b = {1, 2}

In [ ]:
type(a)

dict

In [ ]:
# Add element
set1.add(0)
print(set1)

# Union of sets
set1 = set([1,2,3])
set2 = set([2,3,4,5])
print(set1.union(set2))

# Intersection of sets
print(set1.intersection(set2))

# Difference in sets
print(set1.difference(set2))

# Etc.

{0, 1, 2, 3}
{1, 2, 3, 4, 5}
{2, 3}
{1}

### Dictionaries
Dictionaries are mappings between keys and items stored in the dictionaries. Alternatively one can think of dictionaries as sets in which something stored against every element of the set.

In [ ]:
# Initialize a dictionary
d = dict()
d = {}
print(type(d))

d['abc'] = 3
d[4] = "A string"
print(d)

<class 'dict'>
{'abc': 3, 4: 'A string'}

In [ ]:
d = { "ABC": {'One': 2, 'Two' : 3} , "Sachin" : 'Hundred'}
print(d.pop("Sachin"))
print(d)

Hundred
{'ABC': {'One': 2, 'Two': 3}}

There are a number of alternative ways for specifying a dictionary including as a list of `(key,value)` tuples. To illustrate this we will start with two lists and form a set of tuples from them using the **`zip()`** function
Two lists which are related can be merged to form a dictionary.

In [ ]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]
print([(name, number) for name, number in zip(names, numbers)])
a1 = dict((name,number) for name,number in zip(names,numbers))
print(a1)

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]
{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

Note that the ordering for this dictionary is not based on the order in which elements are added but on its own ordering (based on hash index ordering). It is best never to assume an ordering when iterating over elements of a dictionary.

In [ ]:
print(d.values())
print(d.keys())
print(d.pop(1))

dict_values(['One', 'Two', 'Hundred'])
dict_keys([1, 2, 100])
One

## Control Flow Statements
The key thing to note about Python's control flow statements and program structure is that it uses _indentation_ to mark blocks. Hence the amount of white space (space or tab characters) at the start of a line is very important.

### If-Else Conditionals

In [ ]:
x = 10
y = 12
if x > y:
    print("x > y") \
elif x < y:
    print("x < y")
    if x==10:
        print ("x = 10")
    else:
        print ("Invalid")
else:
    print ("x = y")

x < y
x = 10

### for Loops

```python
for variable in something:
    algorithm```
    
When looping over integers the **range()** function is useful which generates a range of integers:

- `range(n) =  0, 1, ..., n-1`
- `range(m, n) = m, m+1, ..., n-1`
- `range(m, n, s) = m, m+s, m+2s, ..., m + ((n-m-1)//s) * s`

In [ ]:
total = 0

i_list = [1,2,3,4,6,6,8,8]
j_list = [1,2,3,4,5,6,8,7]
for i, j in zip(i_list, j_list):
    total += i**j
print("Total =", total)

Total = 18929088

In [ ]:
hash(True)

1

In [ ]:
x =2
y =3
[] or False

False

In [ ]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total=0
for list1 in list_of_lists:
    for x in list1:
        total = total+x
print(total)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
45

There are many helper functions that make **for** loops even more powerful and easy to use. For example **`enumerate()`**, **`zip()`**, **`sorted()`**, **`reversed()`**

In [ ]:
print("Reversed: ", end="")
for ch in reversed("abc"):
    print(ch, end=";")

print("\n\nEnumerated: ")

print("lalalala")
for ch in enumerate(reversed("abc")):
    print("=", ch)

print("\n\nZipped: ")
for a,x in zip("abc", "xyz"):
    print(a, ":", x)

Reversed: c;b;a;

Enumerated:
lalalala
= (0, 'c')
= (1, 'b')
= (2, 'a')


Zipped:
a : x
b : y
c : z

In [ ]:
print(reversed(list(enumerate("abc"))))

<list_reverseiterator object at 0x1029c5cc0>

### while Loops
```python
while some_condition:  
    algorithm```

In [ ]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye

while True:
    if player_a == 'loss':
        break

1
4
Bye

### Break and Continue

As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [ ]:
for i in range(100):
    print(i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

In [ ]:
for i in range(10):
    if i > 4:
        print("Ignored", i)
        continue
    # This statement is not reached if i > 4
    print("Processed", i)

Processed 0
Processed 1
Processed 2
Processed 3
Processed 4
Ignored 5
Ignored 6
Ignored 7
Ignored 8
Ignored 9

### Exception Handling

To break out of deeply nested exectution sometimes it is useful to raise an exception.
A try block allows you to catch exceptions that happen anywhere during the exeuction of the try block:

```python
try:
    code
except <Exception Type> as <variable name>:
    # deal with error of this type
except:
    # deal with any error```

In [ ]:
x = 0
try:
    inverse = 1.0/x
    print(inverse)
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

In [ ]:
y = 0
inverse = 1/y
print(inverse)

ZeroDivisionError: division by zero

## Functions

A mechansim to allow code to be re-used so that complex programs can be built up out of simpler parts.

This is the basic syntax of a function

```python
def funcname(arg1, arg2,... argN):
    '''Document String'''
    statements
    return <value>```

In [ ]:
def firstfunc():
    print("Hello Jack.")
    print("Jack, how are you?")
firstfunc()

def powerPranav(x, y):
    """Pranav made this function!"""
    #Calculate the power
    z = x**y
    return z
print(powerPranav(2, 5))

Hello Jack.
Jack, how are you?
32

In [ ]:
help(powerPranav)

Help on function powerPranav in module __main__:

powerPranav(x, y)
    Pranav made this function! B-)

In [ ]:
from math import pow
a= math.pow(2, 3)

In [ ]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [ ]:
def pow(a,b):
    return a*b

In [ ]:
math.pow(2,3)

8.0

In [ ]:
# Default Arguments (Implicit Arguments)
def implicitadd(x, y=3, z=0):
    print("%d + %d + %d = %d"%(x,y,z,x+y+z))
    return None

implicitadd(4, 4)
implicitadd(4, 5, 6)
implicitadd(2, y=1,z=9)

4 + 4 + 0 = 8
4 + 5 + 6 = 15
2 + 1 + 9 = 12

In [ ]:
def haveBeer(litres, choice=True):
    if choice == True:
        print("Have %d litres beer" %litres)

haveBeer(5, choice=True)
haveBeer(8)
haveBeer(4, choice=False)

Have 5 litres beer
Have 8 litres beer

In [ ]:
# Any Number of Arguments
def add_n(first, second, *suri):
    reslist = [first] + [second] + [value for value in suri]
    print(reslist)
    return sum(reslist)
add_n(1,2,3,4,5,6,7,8,9)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

45

### Lambda Functions

A single expression whose result is returned. Lambda functions comes very handy when operating with lists. These function are defined by the keyword **lambda** followed by the variables, a colon and the respective expression.

In [ ]:
import math
z = lambda x: haveBeer(x * x)
print(z(8))

def z(x):
    return x**2

f = lambda y: y**2
g = lambda z: 1/z
fog = lambda x: f(g(x))
print(fog(2))

Have 64 litres beer
None
0.25

In [ ]:
%%html
<!--Formatting Cell (Ignore)-->
<style>
table {float:left}
</style>

## List Comprehensions

In [ ]:
%time
myString = "String"
myList = []
for i in myString:
    myList.append(i)
myList

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 15 µs

['S', 't', 'r', 'i', 'n', 'g']

In [ ]:
%time
myList1 = [i for i in myString]
myList1

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 8.11 µs

['S', 't', 'r', 'i', 'n', 'g']

In [ ]:
divisibleBy3 = [n for n in range(0, 30) if n%3==0]
divisibleBy3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
squareDivBy3 = [n**2 for n in reversed(range(0, 3000000)) if n%3==0]
squareDivBy3

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

In [ ]:
# Celcius to Farh.
celcius = [0.0, 50, 25, 37]
fahrenheit = [round(((9/5)*temp + 32), 2) for temp in celcius]
fahrenheit

[32.0, 122.0, 77.0, 98.6]

## Map & Filter

In [ ]:
# Map function
%time
square = lambda x: x**2
myNumbers = [1,2,3,4,5,6,7,8]
list(map(square, myNumbers))

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.25 µs

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
%time
sq_list = []
for i in myNumbers:
    sq_list.append(square(i))

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 9.78 µs

In [ ]:
def odd_even(number):
    if number%2 == 0:
        return 'EVEN'
    else:
        return 'ODD'

list(map(odd_even, myNumbers))

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN']

In [ ]:
def is_even(number):
    return number%2 == 0
list(filter(is_even, myNumbers))

[2, 4, 6, 8]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(list(map(is_even, a)))
print(list(filter(is_even, a)))

[False, True, False, True, False, True, False, True, False]
[2, 4, 6, 8]